/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 header {
    height: 70px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#logo{ 
   
    vertical-align: middle;
}

#text-logo{
    vertical-align: middle;
    font-weight: 900;
    font-size: 50px;
    
} 
.corpo-main{
    margin: 0 auto;
    background-color: #F6F8F9;
    height: 1000px;
    
}
.cotenitore{
    height: 500px;
    width: 500px;
    background-color: #fff;
    margin:0 auto;
    margin-top: 20px;
    
}
